@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


 .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    background: rgba(255, 255, 255, 0.9); /* Fundo branco com transparência */
    backdrop-filter: blur(10px); /* Efeito de desfoque de fundo */
    transition: background 0.3s ease;
  }

  .navbar img {
    max-height: 50px;
  }

  .navbar a {
    font-size: 18px;
    font-family: 'Cinzel', sans-serif;
    transition: ease-in 0.2s;
  }

  .navbar a:hover {
    color: #dbdbdb; /* Cor dourada para destacar */
  }

  #mobile-menu {
  position: fixed; /* Alterado de absolute para fixed */
  top: 64px; /* Ajuste a posição conforme necessário */
  left: 0;
  width: 100%;
  background: white;
  z-index: 50; /* Para sobrepor o conteúdo da página */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

@media (max-width: 768px) {
  .exotic-banner-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    padding: 0 20px; /* Adiciona algum espaço interno */
  }

  .exotic-banner-section h1 {
    font-size: 2.5rem; /* Ajusta o tamanho do texto no celular */
    line-height: 1.2;
    color: #e6e6e6;
  }
}